
<div class="col-md-6 col-md-offset-3">
  <h2>Add People</h2>
  <form name="form" (ngSubmit)="addOrEditPeople()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !uname.valid }">
          <label for="uname">Name:</label>
          <input placeholder="Enter Name..." 
          type="text" 
          class="form-control"
           name="uname" 
           [(ngModel)]="userName" 
           #uname="ngModel" 
           (keyup.enter)= "addOrEditPeople()" 
           required />
          <div *ngIf="uname.touched && !uname.valid" class="help-block error-msg">Name is required</div>
      </div>
      <div class="form-group">
          <button [disabled]="!f.form.valid" class="btn btn-primary">{{isEdit?'Save':'Add'}}</button>
      </div>
  </form>
  <div>
    <ul *ngIf="people.length>0"> 
      <li *ngFor="let p of people; let i = index;">
        <span>{{i+1}}) {{p.name}}</span>
        <button type="button" (click)="editBtn(p)" class="btn btn-outline-primary btn-sm">Edit</button>
        <button type="button" (click)="deletePeople(p)" class="btn btn-outline-danger btn-sm">Delete</button>
      </li>
    </ul>
    <h5 *ngIf="people.length==0">No people added yet.</h5>
  </div>
</div>
